body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(/img/back.jpeg) repeat;
  background-size: 100%;
  overflow: hidden;
}
.mobile-msg{
  background-color: #FFF;
  padding: 50px 10px;
}
form {
  padding: 20px;
  margin-top: 60px;
}
form button, form h5{
  margin: 20px 0;
}
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: #EF5350;
  box-shadow: none;
}
input[type=text],
input[type=email],
input[type=password]{
  color: #FFF;
}
.input-field input:focus{
  color: "yellow";
}
.input-field .prefix.active {
  color: #EF5350;
}
.input-field {
  color: #FFF;
}
.input-field label {
  color: #FFF;
}
.materialize-textarea{
  color: #FFF;
}
.scroll-div{
  overflow-y: scroll;
  height: 100vh;
  padding-bottom: 10vh;
}
.scroll-div::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}
/* .likeAmmount{
  margin-left: 50px;
} */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
